body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #1f1f1f;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
}
.btnDivs {
  display: flex;
  flex-direction: column;
  color: gold;
  font-family: "Fira Sans Condensed", sans-serif;
}
.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  min-width: 10vw;
  height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.509);
  font-family: "Fira Sans Condensed", sans-serif;
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-evenly;
  font-family: "Fira Sans Condensed", sans-serif;
}
.container {
  background-color: #1f1f1f7c;
  display: flex;
  width: 350px;
  height: 300px;
  /* max-height: 400px; */
  border-radius: 10px;
  justify-content: space-between;
  padding: 10px;
  font-family: "Fira Sans Condensed", sans-serif;
}
.container:hover {
  background-color: rgba(86, 201, 255, 0.103);
  transition: 0.25s;
}
.con-desc {
  margin: 8px;
  width: 100px;
  word-wrap: break-word;
  font-family: "Fira Sans Condensed", sans-serif;
}
.con-title {
  margin: 8px;
  word-wrap: break-word;
  font-family: italic;
  text-decoration: underline;
  font-family: "Fira Sans Condensed", sans-serif;
}
.con-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-break: break-all;
  font-family: "Fira Sans Condensed", sans-serif;
}
.divDel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  font-family: "Fira Sans Condensed", sans-serif;
}
input[type="checkbox"] {
  accent-color: rgb(48, 252, 255);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin-left: 2rem;
  font-family: "Fira Sans Condensed", sans-serif;
}
.conDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 200px;
  font-family: "Fira Sans Condensed", sans-serif;
}
.work-area {
  display: flex;
  background-color: rgba(216, 216, 216, 0.15);
  height: 100%;
  font-family: "Fira Sans Condensed", sans-serif;
}
button {
  margin: 4px auto;
  border: none;
  width: 5rem;
  height: 2rem;
  background: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
}
button:hover {
  background-color: rgba(209, 209, 209, 0.48);
  border-radius: 10px;
  transition: 0.15s;
  font-family: "Fira Sans Condensed", sans-serif;
}
#delBtn {
  background: url("delete-document.png") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  font-family: "Fira Sans Condensed", sans-serif;
}
#delBtn:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: rgb(255, 0, 0);
}
.card {
  background-color: #1f1f1fc9;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 1em 3em;
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.509);
  transform: translate(-50%, -50%);
  font-family: "Fira Sans Condensed", sans-serif;
}
.card > button {
  background-color: rgb(86, 255, 35);
  padding: 0.5em 1em;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-family: "Fira Sans Condensed", sans-serif;
}
.card > button:hover {
  scale: 1.1;
  transition: 0.15s;
}
.editCard {
  background-color: #757575;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 3em;
  border-radius: 10px;
  border: 1px solid gold;
  display: flex;
  font-family: "Fira Sans Condensed", sans-serif;
}
.editCard > button {
  background-color: rgb(75, 222, 227);
  width: 4rem;
  height: 2rem;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  .side-bar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    flex-direction: row;
  }
  .btnDivs {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content {
    margin-top: 100px;
  }
  
}
